.toggle {

    position: relative;
    display: flex;
    width: 64px;
    height: 32px;

    align-items: center;

    background-color:#1C1F21;
    transition: 0.4s;

    border-radius: 32px;

    border: solid 2px #363B40;
    

  }

  #estilo {
    display: none;
  }


  /*
  .slider {

    display: flex;
    align-items: center;

    position: relative;
    cursor: pointer;
    width: 64px;
    height: 32px;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    
    background-color: #363B40;
    transition: 0.4s;

    left: 4px;

  }
    */

  .toggle:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    
    background-color: #363B40;
    transition: 0.4s;

    left: 3px;

  }




  /* Estilo quando o toggle está ativado 
  input:checked + .slider {
    background-color: #59B2FF; /* Cor verde quando ativo */
  
  /*
  input:checked + .slider:before {
    transform: translateX(30px);
    background-color: white;
  }*/

  #estilo:checked + .toggle:before {
    transform: translateX(30px);
    background-color: white;
    
  }

  #estilo:checked + .toggle{
    background-color: #59B2FF;
    
  }

