@import url(radiotoggle.css);
@import url(radiotoggleball.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --font-family-one: "Leckerli One", serif;
    --font-family-baloo2: "Baloo 2", serif;
    --font-family-open: "Open Sans", serif;

    --text-logo: 400 40px var(--font-family-one);
    --text-heading-md: 600 28px var(--font-family-baloo2);
    --text-heading-sm: 600 18px var(--font-family-baloo2);

    --text-body-md: 100 16px var(--font-family-open);
    --text-body-md2: 600 16px var(--font-family-open);
    --text-body-sm: 400 14px var(--font-family-open);
    --text-body-xs: 400 12px var(--font-family-open);
    --text-body-sm2: 600 14px var(--font-family-open);


}

body {
    overflow: hidden;
    

}

#divpai {
   
    display: flex;
    justify-content: center;
    
    height: 100vh;
    
    
    padding: 1.25rem;
    gap: 20px;

    background-color: #131516;

}


aside {

    
    
    background-image: url(assets/Background-birth.svg) ;
    background-repeat: no-repeat;
    background-size: auto;


    max-height: 728px;
    min-width: 400px;
    overflow: hidden;
    border-radius: 12px;
    

    #header-aside {

        
        margin-top: 36px;
        margin-inline: 36px;

        h1 {
            
            margin-top: 16px;
            font: var(--text-logo);
            color: #FF598B;
            
        }

        p {
            margin-top: 4px;
            font: var(--text-body-md);
            color: #F9F9F9;
        }

    }
    
}


main {
    max-width: 820px;
    overflow: auto;
    
    background-color: #212427;
    border-radius: 12px;

    padding-block: 80px;
    padding-inline: 130px;

    & h1 {
        font: var(--text-heading-md);
        color: #F9F9F9;
    }

    form {

        #evento, #personalization {

            .evento-header {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            span {
                font: var(--text-heading-sm);
                color: #F9F9F9 ;
            }
        }


    }
    
}


.icons-title {
    width: 24px;
    height: 24px;
}


input::placeholder, textarea {
    font: var(--text-body-md);
    color: #869198;
}


fieldset {
    border: none;
    margin-top: 40px;
    
    
}


.inputs-design {

    display: grid;
    

    label {
        font: var(--text-body-sm);
        color: #C8CDD0;
        margin-top: 24px;
    }

    input {
        margin-top: 12px;
        appearance: none;
        width: 100%;
        height: 48px;
        padding: 16px;
        border-radius: 8px;
        background-color: #1C1F21;
        border: solid 0.5px #363B40;

        font: var(--text-body-md);
        color: #869198;

        

        

        &::-webkit-calendar-picker-indicator {
            display: none;
        }

        

    }

    input:focus, input:focus-within {
        color: white;
        border-color: #59B2FF;
        outline: none;
    }    
}

#date-inicio {
    text-transform: uppercase;
}

#date-fim {
    text-transform: uppercase;
}

#divdata {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    margin-top: 16px;
    gap: 1rem;
}


#tipo-design {
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    
}

#local-design {
   
   

   
}

#textarea-design {
    
    

    & textarea {
        
        margin-top: 12px;
        appearance: none;
        width: 100%;
        height: 136px;
        padding: 16px;
        border-radius: 8px;
        background-color: #1C1F21;
        border: solid 0.5px #363B40;
        resize: none;

        
        
    }

    textarea::placeholder {
        color:   #869198;
        font: var(--text-body-md);
    }

    textarea:focus, textarea:focus-within {
        color: white;
        border-color: #59B2FF;
        outline: none;
    }   
    
}

#principal-color {

    
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 24px;

    input[type="checkbox"] {
        display: none;
    }


    #colors {

        

        display: flex;
        gap: 12px;

      /* Estilo do checkbox personalizado */
        label {

            position: relative;
            cursor: pointer;
            width: 42px;
            height: 42px;
            border: solid transparent;
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #2D3136;

            border-radius: 100%;

            &:hover {
                
                background-color: #383D42;
                transition: 0.2s ease-in; 

            }

        }

        input:checked + label {
            border: solid 2px #59B2FF;
        }
        
    }

    /* Criar o visual do checkbox usando ::before */
    label::before {
        content: '';
        position: absolute;
        
        width: 28px;
        height: 28px;
        background-color: white;


        border-radius: 100%;
        
        

        border: solid 1px transparent;
        
        transition: background-color 0.3s, border-color 0.3s;
    }

    /*
    input[type="checkbox"]:checked + label::before {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }
    

     Estilo do ícone de marcação (check) 
    input[type="checkbox"]:checked + label::before {
        border: solid 1px blue;
    }
     */
    
    
}

.label-colors {
    font: var(--text-body-sm);
    color: #C8CDD0;
}

#color1 + label::before {
    background-color: #59B2FF;
}

#color2 + label::before {
    background-color: #6A59FF;
}

#color3 + label::before {
    background-color: #B259FF;
}

#color4 + label::before {
    background-color: #FF59F9;
}

#color5 + label::before {
    background-color: #FF598B;
}

#color6 + label::before {
    background-color: #FF5959;
}

#color7 + label::before {
    background-color: #FF8B59;
}   

#color8 + label::before {
    background-color: #FFCD59;
}

#color9 + label::before {
    background-color: #E1FF59;
}   

#color10 + label::before {
    background-color: #59FF91;
}

#color11 + label::before {
    background-color: #59FFF9;
}   

#event-theme {
    
    margin-top: 28px;


    input:checked + label {
        border: solid 2px #59B2FF;
    }

    input[type="checkbox"] {
        display: none;
    }

    .decor-label-theme {
        border: solid 2px #363B40;
        border-radius: 8px;
        background-color: #2D3136;

        display: flex;
        flex-direction: column;
        
        width: 134px;

        img {
            
            margin-inline: 3px;
            margin-top: 4px
        
        };
        

        div {
            
            font: var(--text-body-sm);
            color: #F9F9F9;
            
            margin-block: 8px;
            text-align: center;

        }

        transition: background-color 1s;

        &:hover {
            background-color: #383D42;
            transition: 0.2s ease-in;
            
        }

        input[type="checkbox"]:checked + &:hover {
            background-color: #2D3136;
            
        }

        cursor: pointer;

    }

    #div-inputs-theme {

        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 8px;
        margin-top: 16px;

        
    }


}

#style-fotocapa {
    margin-top: 28px;
    display: flex;
}

#styletoggle {

    display: flex;
    flex-direction: column;
    
    #divstyle {
        font: var(--text-body-sm);
        color: #C8CDD0;
    }

    #divinput {
        width: 176px;
        
        display: flex;
        align-items: center;
        margin-top: 20px;
        
    }

    #textestilo2 {
        display: none;

    }

    input:checked ~ #textestilo {
        display: none;
    }

    input:checked ~ #textestilo2 {
      display: block;
    }

    

    #textestilo, #textestilo2  {
        margin-left: 12px;
        color: #C8CDD0;
        font: var(--text-body-sm);
    }

    
}

#fotocapa {

    font: var(--text-body-sm);
    color: #C8CDD0;

    label {

    
        display: flex;
        gap: 8px;
        padding-inline: 12px;
        padding-block: 4px;

        width: 119px;
        height: 40px;

        align-items: center;
        background-color: #2D3136;

        border-radius: 8px;

        transition: 0.7s;
        font: var(--text-body-sm);
        color: #F9F9F9;

        cursor: pointer;

        &:hover {
            background-color: #383D42;
        }

    }

    input {

        
        display: none;
        
    }

    #inputfile {
        display: flex;
        margin-top: 16px;
        align-items: center;
        
        .divtextcapa {
            margin-left: 12px;
            color: #869198;
        }
        
    }

    


}

#infocontatos {

    span {
        font: var(--text-heading-sm);
        color: #F9F9F9 ;
        

    }

    .evento-header {
        display: flex;
        align-items: center;
        gap: 12px;
    }


    #info {
        margin-top: 24px;
    }

    #name {



        #campoobg {
            
            margin-top: 8px;
            display: flex;
            align-items: center;

            p {
                
                margin-left: 9px;
                font: var(--text-body-xs);
                color: #FF5959;

            }
        }

        label {
            font: var(--text-body-sm);
            color: #C8CDD0;
            margin-top: 24px;
        }

        input {
            margin-top: 12px;
            appearance: none;
            width: 100%;
            height: 48px;
            padding: 16px;
            border-radius: 8px;
            background-color: #1C1F21;
            border: solid 0.5px #FF5959;
    
            font: var(--text-body-md);
            color: #869198;
    

        }



    }

    #mail-tel {

        display: grid;

        
        grid-template-columns:  1fr 1fr;
        gap: 16px;
        margin-top: 16px;


        label {
            font: var(--text-body-sm);
            color: #C8CDD0;
            margin-top: 24px;
        }
    
        input {
            margin-top: 12px;
            appearance: none;
            width: 100%;
            height: 48px;
            padding: 16px;
            border-radius: 8px;
            background-color: #1C1F21;
            border: solid 0.5px #363B40;
    
            font: var(--text-body-md);
            color: #869198;
    
    
        }
    
        input:focus, input:focus-within {
            color: white;
            border-color: #59B2FF;
            outline: none;
        }  
    }

    
}


hr {
    margin-top: 48px;
                 
    height: 1px;              
    border: none;             
    background-color: #869198 ; 

}


footer {

    #checkbox {

        display: flex;
        flex-direction: column;
        gap: 17.5px;
        margin-top: 44.5px;

        label {
            color: #C8CDD0;
            font: var(--text-body-sm);
            
        }

        strong {
            color: #59B2FF;
            font: var(--text-body-sm2);
        }

        u {
            color: #59b2ff39;
        }

        /* Esconder o checkbox padrão */
        input[type="checkbox"] {
        display: none; /* Esconde o checkbox padrão */
        
      }
  
      /* Estilizar o label como a caixa de seleção */
      input[type="checkbox"] + label {
        position: relative;
        padding-left: 35px; /* Espaço para o ícone da caixa de seleção */
        cursor: pointer;
        
        
        
        user-select: none; /* Impede a seleção de texto ao clicar */
      }
  
      /* Criar o ícone da caixa de seleção */
      input[type="checkbox"] + label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #869198;
        border-radius: 4px;  
        background-color: #1C1F21;
        transition: background-image 1s, border-color 1s;
         
        
      }
  
      /* Estilo quando o checkbox está marcado */
      input[type="checkbox"]:checked + label::before {
        
        border: solid 1px #59B2FF; /* Cor da borda quando marcado */
        content: "";  /* O pseudo-elemento precisa de algum conteúdo, mesmo que vazio */
        position: absolute;  /* Para posicionar a imagem no local desejado */
        top: 0px;  /* Posiciona no topo do elemento */
        left: 0px;  /* Posiciona à esquerda do elemento */
        width: 20px;
        height: 20px;
        background: url('assets/icons/check.svg') no-repeat center center;  /* Imagem de fundo */
        background-size: cover;  /* Faz a imagem cobrir toda a área */
        z-index: 1;  /* Coloca o pseudo-elemento atrás do conteúdo real */
        transition: background-image 1s, border-color 1s;
      }
  
      
    }
}




button {
    background-color: #1D6FB6;
    width: 177px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    padding-block: 4px;
    gap: 12px;
    border-radius: 8px;
    border: none;
    color: #F9F9F9;
    


    &:hover {
        background-color: #3487CF;
        transition: 0.5s ease-in-out;
    }

    transition: 0.2s ease-in-out;
    
    
    font: var(--text-body-md2);
    

    i {
        width: 20px;
        height: 20px;
    }

    cursor: pointer;
}


#divbtn {
    margin-top: 48px;
    justify-self: end;
}









